@page "/chat"
@implements IAsyncDisposable
@inject NavigationManager NavigationManager
@using Microsoft.AspNetCore.SignalR.Client;

<PageTitle>Chat</PageTitle>

<h1>Chat</h1>

<button class="btn btn-primary" @onclick="Send">Send Message</button>

<ul id="messagesList">
    @foreach (var message in messages)
    {
        <li>@message</li>
    }
</ul>

@code {
    private HubConnection? hubConnection;
    private List<string> messages = new List<string>();
    private int counte = 0;

    protected override async Task OnInitializedAsync()
    {
        hubConnection = new HubConnectionBuilder()
            .WithUrl(NavigationManager.ToAbsoluteUri("/chathub"))
            .Build();

        hubConnection.On<int, string, string>("ReceiveMessage", (chatroomId, username, message) =>
        {
            messages.Add($"message {counte++}");
            StateHasChanged();
        });

        await hubConnection.StartAsync();
    }

    public async Task Send()
    {
        if (hubConnection?.State == HubConnectionState.Connected)
        {
            await hubConnection.SendAsync("SendMessage", 1,"Teste");
        }
    }

    public bool IsConnected => hubConnection?.State == HubConnectionState.Connected;

    public async ValueTask DisposeAsync()
    {
        if (hubConnection != null)
        {
            await hubConnection.DisposeAsync();
        }
    }
}
