@page "/chat/{ChatroomId}"
@implements IAsyncDisposable
@attribute [Authorize]
@inject NavigationManager NavigationManager
@inject IAccessTokenProvider TokenProvider
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject HttpClient Http
@using ChatApp.Shared.Model
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Microsoft.AspNetCore.SignalR.Client
@using Microsoft.AspNetCore.Components.Authorization

<PageTitle>Chat</PageTitle>

<h1>Chat</h1>

@if (IsConnected)
{
    <ul id="messagesList">
        @foreach (var message in messages)
        {
            <li>@message</li>
        }
    </ul>
    <input @bind="userInput" placeholder="Type your message" />
    <button @onclick="() => Send(userInput)">Send</button>
}
else
{
    <p>Connecting...</p>
}

@code {
    [Parameter]
    public string ChatroomId { get; set; }

    private HubConnection? hubConnection;
    private List<string> messages = new List<string>();
    private string userInput = "";
    private string username = "";

    protected override async Task OnInitializedAsync()
    {
        await InitializeConnection();
        await LoadMessages();
    }

    protected override async Task OnParametersSetAsync()
    {
        await LoadMessages();
    }

    private async Task InitializeConnection()
    {
        var tokenResult = await TokenProvider.RequestAccessToken();

        if (tokenResult.TryGetToken(out var token))
        {
            var accessToken = token.Value;

            hubConnection = new HubConnectionBuilder()
                .WithUrl(NavigationManager.ToAbsoluteUri("/chathub"), options =>
                {
                    options.AccessTokenProvider = () => Task.FromResult<string?>(accessToken);
                })
                .Build();

            hubConnection.On<int>("ReceiveMessage", async (chatroomId) =>
            {
                if (chatroomId.ToString() == ChatroomId)
                {
                    await LoadMessages();
                }
            });

            await hubConnection.StartAsync();
        }

        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity.IsAuthenticated)
        {
            username = user.Identity.Name;
        }
    }

    private async Task LoadMessages()
    {
        var url = $"Message/list/{ChatroomId}";
        var responseMessages = await Http.GetFromJsonAsync<Message[]>(url);
        messages.Clear();
        messages.AddRange(responseMessages.Select(m => $"{m.Timestamp} {m.UserId}: {m.Content}"));
        StateHasChanged();
    }

    public async Task Send(string message)
    {
        if (hubConnection?.State == HubConnectionState.Connected)
        {
            await hubConnection.SendAsync("SendMessage", int.Parse(ChatroomId), username, message);
            userInput = "";
        }
    }

    public bool IsConnected => hubConnection?.State == HubConnectionState.Connected;

    public async ValueTask DisposeAsync()
    {
        if (hubConnection != null)
        {
            await hubConnection.DisposeAsync();
        }
    }
}
